
trigger:
- main

pool:
  vmImage: 'windows-latest'

steps:
- task: UseDotNet@2
  displayName: 'Use .NET 8 SDK'
  inputs:
    packageType: 'sdk'
    version: '8.0.x'

- script: dotnet restore MySecond/MySecond.csproj
  displayName: 'Restore'

- script: dotnet build MySecond/MySecond.csproj --configuration Release
  displayName: 'Build'

- script: dotnet test MySecond/MySecond.csproj --configuration Release
  displayName: 'Test'